[tool.pytest.ini_options]
testpaths = [
    "tests"
]
asyncio_mode = "auto"
asyncio_default_fixture_loop_scope = "function" # https://github.com/MatthewFlamm/pytest-homeassistant-custom-component/issues/206