name: "Lint"

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  ruff:
    name: "Ruff"
    runs-on: "ubuntu-latest"
    steps:
        - name: "Checkout the repository"
          uses: "actions/checkout@v5.0.0"

        - name: "Set up Python"
          uses: actions/setup-python@v6.0.0
          with:
            python-version: "3.13"

        - name: "Install requirements"
          run: python3 -m pip install -r requirements_dev.txt

        - name: "Lint"
          run: python3 -m ruff check . --exclude=tests

        - name: "Format"
          run: python3 -m ruff format . --check --exclude=tests
